body{
    margin: 0px;
    padding: 0px;
    font-family:monospace;
}
#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.country{
    margin: 20px;
    padding: 17px;
    border-radius: 5px;
    box-shadow: 0px 0px 17px -8px;
}
.fixed{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #ad125b;
    padding: 30px;
    margin: 30px;
}
.second{
    margin-top: 350px;
}